{% extends 'base.html' %}
{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-63" class="twentyseventeen-panel  post-63 page type-page status-publish hentry">
                <div class="panel-content">
                    <div class="wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">Welcome</h2>
                        </header>
                        <div class="entry-content">
                            <p>
                                Welcome to the Homepage of the Artificial Intelligence and Water Resources
                                Engineering research group.
                            </p>
                            <p>
                                Our group was co-founded by eight researchers with a variety of profiles, skills and
                                experiences, who form a dynamic and unique group of experts. Our team members
                                with diverse academic backgrounds (civil engineering, water resources,
                                environment, computer science, climatology, and social sciences) are trained in top-
                                tier universities in U.S.A, Germany, the Netherlands, Australia, New Zealand, Japan,
                                and Singapore. Ranging from young people leading international water networks
                                while still pursuing their studies, to senior experts with decades of qualified
                                experience working for different academic and consulting environments, we are a
                                truly intergenerational and multidisciplinary team.
                            </p>
                            <p>
                                We would like to use this portal as a platform for global networking to engage and
                                connect with potential collaborators and customers to provide you with in-depth
                                information on our group missions. We hope you will find this website informative,
                                useful and user-friendly. If you have any comments or suggestions for us, our work
                                or services, please do let us know.
                            </p>
                            <p>
                                <span class="prof-name">Assoc. Prof. Dr.-Ing. Pham Van Song</span><br>
                                <span class="prof-title">Vice President</span> <br>
                                <span class="prof-uni">Vietnamese German University (VGU)</span><br>
                                Address: Le Lai Street, Hoa Phu Ward, Thu Dau Mot City, Binh Duong Province,
                                Vietnam<br>
                                Phone: +84- (0) 274-2220990, Ext. 112<br>
                                Mobile: +84- (0) 919 128 686<br>
                                Website: <a href="javascript:void(0)">www.vgu.edu.vn</a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}