{% extends 'base.html' %}
{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-63" class="twentyseventeen-panel  post-63 page type-page status-publish hentry">
                <div class="panel-content">
                    <div class="wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">Welcome</h2>
                        </header>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus libero
                                non dui porttitor commodo. Pellentesque nec ornare nisi. Duis tincidunt
                                enim urna, id blandit ligula tempor interdum. Maecenas molestie cursus
                                porta. Vivamus a neque non diam mollis tincidunt eget quis arcu. Nullam sit
                                amet nisl sit amet velit vestibulum consequat rutrum ac dui. Orci varius
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Etiam consectetur venenatis ultrices. Aliquam interdum rutrum maximus. In
                                hac habitasse platea dictumst.</p>
                            <p>Sed interdum, risus non convallis cursus, mauris nisi varius diam, non
                                faucibus ipsum ante et arcu. Vestibulum in dignissim neque. Praesent
                                iaculis nibh eu pharetra tincidunt. Integer eu faucibus nibh. Integer non
                                erat eget nisi egestas aliquam in at enim. Integer et efficitur mauris. In
                                venenatis sodales purus ut pharetra. Cras felis neque, scelerisque at
                                hendrerit nec, scelerisque vitae ligula. Maecenas in tristique mi. Donec
                                malesuada non lectus at ultricies. Proin at purus sed sem tempus eleifend.
                                Duis lobortis, mi vel ultricies finibus, tellus enim maximus sem, nec
                                rhoncus felis orci sit amet elit. Praesent non scelerisque urna. Quisque
                                elementum non lectus id cursus.</p>
                            <p>Pellentesque lobortis nec nisi a blandit. Pellentesque sit amet lacus et
                                nisl tempor lobortis in in massa. Sed vitae faucibus augue. Cras cursus
                                purus ac volutpat varius. Suspendisse a cursus mi. Mauris imperdiet ante at
                                tellus tincidunt, sed sollicitudin leo commodo. Class aptent taciti
                                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Quisque rhoncus mi eu pellentesque tempus.
                            </p>
                            <p>
                                Donec ac enim ac justo elementum facilisis. Donec ut leo tortor. Duis a
                                metus a metus hendrerit vestibulum. Vestibulum metus metus, semper ut
                                aliquet at, dictum eget arcu. Nunc eu congue augue. Sed lobortis lectus
                                dui, vel venenatis lorem auctor non. Sed at metus eget massa tempus
                                viverra. Vestibulum nec massa sed elit dapibus bibendum non in tortor. In
                                vel ex vitae mi pretium rutrum. Morbi posuere elit orci, condimentum
                                hendrerit nunc feugiat sed. Curabitur a leo bibendum, porttitor ante
                                pulvinar, consequat metus. Morbi consequat vehicula justo vel accumsan.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}