{% extends 'base.html' %}
{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-63" class="twentyseventeen-panel  post-63 page type-page status-publish hentry">
                <div class="panel-content">
                    <div class="wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">Members</h2>
                        </header>
                        <div class="entry-content">
                            {% for member in members %}
                                <p>
                                    {{ member.name }}<br />
{#                                    &gt; PhD, Politecnico di Milano<br />#}
{#                                    &gt; Office: Building 1, Level 7<br />#}
                                    &gt; Phone: {{ member.phone }}<br />
                                    &gt; Email: {{ member.email }}<br />
{#                                    &gt; <a href="https://esd.sutd.edu.sg/people/faculty/stefano-galelli">Homepage</a> | <a href="https://www.researchgate.net/profile/Stefano_Galelli">ResearchGate</a> | <a href="https://scholar.google.it/citations?user=q6nzpZwAAAAJ&amp;hl=it&amp;oi=ao">Google scholar</a> | <a href="https://github.com/stefano-galelli">GitHub</a>#}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}