{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-63" class="twentyseventeen-panel  post-63 page type-page status-publish hentry">
                <div class="panel-content">
                    <div class="wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">Members</h2>
                        </header>
                        <div class="entry-content">
                            {% for member in members %}
                                <p style="margin-bottom: 0.5em">
                                    <a href="{% static member.curriculum_vitae_link %}">{{ member.name }} </a><br />
                                    &gt; Phone: {{ member.phone }}<br />
                                    &gt; Email: {{ member.email }}<br />
                                    <div>
                                        <a href="{{ member.google_scholar_link }}">
                                            <img src="{% static 'img/icon/google-scholar.png'%}" width="4%" height="4%">
                                        </a>
                                        &nbsp;
                                        <a href="{{ member.researchgate_link }}">
                                            <img src="{% static 'img/icon/researchgate.png'%}" width="4%" height="4%">
                                        </a>
                                        &nbsp;
                                        <a href="{{ member.linkedin_link }}">
                                            <img src="{% static 'img/icon/linkedin.png'%}" width="4%" height="4%">
                                        </a>
                                    </div>
                                </p>                                
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
{% endblock %}